<%= render 'admintop' %>
<div id="main">
  <div class="breadcrumb-wrapper">
    <div class="container">

      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row">
        <h3 class="title">管理员</h3>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>姓名</th>
            <th>账号</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <% @admins.each do |admin| %>
              <tr>
                <td><%= admin.username %></td>
                <td><%= admin.login %></td>
                <td>
                  <% if admin.status == 1 %>
                      正常
                  <% else %>
                      锁定
                  <% end %>
                </td>
                <td><% link_to '',class:"icon-eye-open" %></td>
              </tr>
          <% end %>

          </tbody>
        </table>

        <a class="btn-small btn-color btn-pad pull-right" href=<%= new_admin_path %>>创建管理员</a>
      </div>


    </div>
  </div>
</div>