<%= render 'top' %>
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <br>
      <% if @new %>
          <%= @new.content.html_safe %>
      <% end %>

    </div>
  </div>
</div>




<%= render 'footer' %>