<%= render 'top' %>





<!-- Title, Breadcrumb Start-->
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <h2 class="title">企业文化</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <div class="breadcrumbs pull-right">
          <ul>
            <li>你在这里:</li>
            <li><a href="index-2.html">主页</a></li>
            <li><a href="#">企业文化</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Title, Breadcrumb End-->
<div class="content">
  <div class="container">
    <%= @content.content.html_safe %>
  </div>
</div>
<%= render 'footer' %>