<%= render 'top' %>


<!-- Title, Breadcrumb Start-->
<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <h2 class="title">企业文化</h2>
      </div>
    </div>
  </div>
</div>
<!-- Title, Breadcrumb End-->
<div class="content">
  <div class="container">
    <% if @content %>
        <%= @content.content.html_safe %>
    <% end %>
  </div>
</div>

<%= render 'footer' %>