<!-- Footer Start -->
<footer id="footer">
  <!-- Footer Top Start -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
          <h3>关于我们</h3>

        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
          <h3>产品</h3>
          <ul id="tweets">
          </ul>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
          <h3>联系我们</h3>

        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
          <h3>其它</h3>
          <ul id="flickrfeed" class="thumbs"></ul>

        </section>
      </div>
    </div>
  </div>

  <!-- Footer Top End -->
  <!-- Footer Bottom Start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-xs-12 col-sm-6 text-center">Copyright &copy; 2016.cloudtimesoft All rights reserved. <a>站内导航</a>
        </div>









      </div>
    </div>
  </div>

  <!-- Footer Bottom End -->
</footer>

<!--左侧分享-->
<script type="text/javascript">

    seajs.use('../login/images/yaojangzt');

</script>
<div data-bd-bind="1459404964186" class="bdshare-slide-button-box bdshare-slide-style-r1" style="top: 100px; width: 0px; z-index: 99999; right: 0px;">
  <a style="left: -24px;" href="#" onclick="return false;" class="bdshare-slide-button"></a>
  <div style="width: 0px; display: none;" class="bdshare-slide-list-box">
    <div class="bdshare-slide-top">分享到</div>
    <div class="bdshare-slide-list">
      <ul style="width: 226px;" class="bdshare-slide-list-ul">
        <li><a href="#" onclick="return false;" class="slide-mshare" data-cmd="mshare">一键分享</a></li>
        <li><a href="#" onclick="return false;" class="slide-qzone" data-cmd="qzone">QQ空间</a></li>
        <li><a href="#" onclick="return false;" class="slide-tsina" data-cmd="tsina">新浪微博</a></li>
        <li><a href="#" onclick="return false;" class="slide-bdysc" data-cmd="bdysc">百度云收藏</a></li>
        <li><a href="#" onclick="return false;" class="slide-weixin" data-cmd="weixin">微信</a></li>
        <li><a href="#" onclick="return false;" class="slide-renren" data-cmd="renren">人人网</a></li>
        <li><a href="#" onclick="return false;" class="slide-tqq" data-cmd="tqq">腾讯微博</a></li>
        <li><a href="#" onclick="return false;" class="slide-bdxc" data-cmd="bdxc">百度相册</a></li>
        <li><a href="#" onclick="return false;" class="slide-kaixin001" data-cmd="kaixin001">开心网</a></li>
        <li><a href="#" onclick="return false;" class="slide-tqf" data-cmd="tqf">腾讯朋友</a></li>
        <li><a href="#" onclick="return false;" class="slide-tieba" data-cmd="tieba">百度贴吧</a></li>
        <li><a href="#" onclick="return false;" class="slide-douban" data-cmd="douban">豆瓣网</a></li>
        <li><a href="#" onclick="return false;" class="slide-bdhome" data-cmd="bdhome">百度新首页</a></li>
        <li><a href="#" onclick="return false;" class="slide-sqq" data-cmd="sqq">QQ好友</a></li>
        <li><a href="#" onclick="return false;" class="slide-thx" data-cmd="thx">和讯微博</a></li>
        <li><a href="#" onclick="return false;" class="slide-ibaidu" data-cmd="ibaidu">百度中心</a></li>
      </ul>
    </div>
    <div style="width: 226px;" class="bdshare-slide-bottom">
      <a href="#" onclick="return false;" class="slide-more" data-cmd="more">更多...</a>
    </div>
  </div>
</div>



<!--右侧弹窗-->

<a href="#" class="scrollup"><img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=189771333&o=www.zhongshuixi.com&q=7', '_blank', 'height=520, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:189771333:1 alt="欢迎访问中水系，请稍等"></a>



