



<div class="toolbar">
  <a href="#" class="toolbar-item toolbar-item-weixin">
    <span class="toolbar-layer"></span>
  </a>
  <a onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=189771333&o=www.zhongshuixi.com&q=7', '_blank', 'height=520, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" class="toolbar-item toolbar-item-feedback"></a>
  <a href="###" class="toolbar-item toolbar-item-app">
    <span class="toolbar-layer"></span>
  </a>
  <a href="javascript:scroll(0,0)" id="top" class="toolbar-item toolbar-item-top"></a>
</div>




<!--右侧弹窗-->




<div id="footer-bottom" class="">
  <div class="container">
    <div id="footer-texts" class="pull-left"><%= public_config.beian %></div>
    <div id="footer-navigation" class="pull-right"><ul id="menu-footer-bottom-menu" class="clearfix unstyled-all"><li id="menu-item-319" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-319"></i>电话： <%= public_config.tel %>  </li><li class="ui--separator"> / </li>
      <li id="menu-item-320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-320"><%= link_to '给我们留言',contacts_path %> </li><li class="ui--separator"> / </li>

    </ul></div>				</div>
</div>



</div>






