<!-- Footer Start -->
<footer id="footer">
  <!-- Footer Top Start -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
          <h3>关于我们</h3>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
          <h3>产品中心</h3>
          <ul id="tweets">
          </ul>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
          <h3>联系我们</h3>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
          <h3>新闻中心</h3>
          <ul id="flickrfeed" class="thumbs"></ul>
        </section>
      </div>
    </div>
  </div>

  <!-- Footer Top End -->
  <!-- Footer Bottom Start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-xs-12 col-sm-6 text-center">Copyright &copy; 2016.cloudtimesoft All rights reserved. <%= link_to '站内导航',sitemaps_path %>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom End -->
</footer>




<!--右侧弹窗-->

<a href="#" class="scrollup"><img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=189771333&o=www.zhongshuixi.com&q=7', '_blank', 'height=520, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:189771333:1 alt="欢迎访问中水系，请稍等"></a>



