



<!--中间部分-->
<div id="page-content" class="no-sidebar-layout"><div class="container">
  <div id="the-content" >
  <div  class="ui--tabs ui--tabs-mega clearfix text-left" style="margin-top: -29px;  margin-bottom: 0px;">
    <div class="ui--tabs-header ui--accent-gradient ui--accent-color fullwidth-container clearfix">
      <div class="container">

        <ul class="ui--tabs-titles clearfix unstyled">
          <li class=""><h5></h5></li><li class="" ><h5>&nbsp;</h5></li></ul></div></div><div class="clearfix"></div><ul class="ui--tabs-contents text-left clearfix"><li class="hidden"> <div class="ui-row row">


    <div   class="ui-column span3"><div  class="ui--icon-box position--top"><span class="ui--icon-box-icon ui--animation"><img class="ui--icon" src="tb1.jpg" alt="" data-at2x="" data-retina-auto="1"/></span><div  class="ui--icon-box-content ui--animation"><h4 class="ui--icon-box-title ui--animation text-center" data-fx="fx--no-effect"><span ><strong>团队</strong></span></h4><div  class="ui--animation ui--icon-box-text text-justify" data-fx="fx--no-effect"><p><font size="2">强大的网络软件开发团队，技能精湛的技术人员；引领市场的销售先锋；随时待命的服务战队</font></p>
    </div></div></div></div>

    <div   class="ui-column span3"><div  class="ui--icon-box position--top"><span class="ui--icon-box-icon ui--animation"><img class="ui--icon" src="tb2.jpg" alt="" data-at2x="" data-retina-auto="1"/></span><div  class="ui--icon-box-content ui--animation"><h4 class="ui--icon-box-title ui--animation text-center" data-fx="fx--no-effect"><span ><strong>技术</strong></span></h4><div  class="ui--animation ui--icon-box-text text-justify" data-fx="fx--no-effect"><p><font size="2">程序员和技术团队人员的结合将会碰撞出什么样的火花，美轮美幻的精美网站，使用方便APP，实用简单web前端，这些统统不是问题</font></p>
    </div></div></div></div>

    <div   class="ui-column span3"><div  class="ui--icon-box position--top"><span class="ui--icon-box-icon ui--animation"><img class="ui--icon" src="tb3.jpg" alt="" data-at2x="" data-retina-auto="1"/></span><div  class="ui--icon-box-content ui--animation"><h4 class="ui--icon-box-title ui--animation text-center" data-fx="fx--no-effect"><span ><strong>市场</strong></span></h4><div  class="ui--animation ui--icon-box-text text-justify" data-fx="fx--no-effect"><p><font size="2">庞大的市场需求，完全适应互联网时代的发展，简单方便快捷深受消费者的喜爱。是一款可以为您带来源源不断地用户的新时代产品</font></p>
    </div></div></div></div>

    <div   class="ui-column span3"><div  class="ui--icon-box position--top"><span class="ui--icon-box-icon ui--animation"><img class="ui--icon" src="tb4.jpg" alt="" data-at2x="" data-retina-auto="1"/></span><div  class="ui--icon-box-content ui--animation"><h4 class="ui--icon-box-title ui--animation text-center" data-fx="fx--no-effect"><span ><strong>服务</strong></span></h4><div  class="ui--animation ui--icon-box-text text-justify" data-fx="fx--no-effect"><p><font size="2">销售人员火一样的热情，那么我们的服务将是冬日阳光般温暖着你。凡是我公司出产的任何产品若有问题我们将会即刻为您解决。细心周到将是我们服务考核的标准之一</font></p>
    </div></div></div></div>


  </div>
  </li></ul>

  </div>
      </div>
    </div>
    </div>
