




<!--中下图部分-->

<div class="container">

<div  id="section-cr4zq" class="fullwidth-container ui--section clearfix inner-shadow-2 section-cr4zq" style="margin-top: 30px;  margin-bottom: -9px;  padding-top: 40px;  padding-bottom: 0px;">
  <div class="ui--title ui--animation ui--title-bordered text-left"><div class="ui--title-holder"><h3 class="ui--title-text"><strong>我们的开发</strong></h3><div class="ui--title-borders ui--title-border-left"></div><div class="ui--title-borders ui--title-border-right"></div></div></div>
  <div class="ui-row row">


    <div   class="ui-column span4" >
      <div class="ui--box-widget" >
        <div  class="ui--content-box ui--box ui--content-item ui--animation ui-row" >
          <div class="ui--content-box-header">
            <div class="ui--content-box-media effect--slide-btt type--image-hover clearfix" style="padding-bottom: 56.25%;">
              <a class="ui--content-box-link" href="/products">
                <div class="ui--content-box-image-default">
                  <img  class="ui--content-box-image" src="01.jpg" alt="" title=""/>
                </div>
                <div class="ui--content-box-overlay"><div class="ui--content-box-overlay-image">
                  <img  class="ui--content-box-image" src="01.jpg" alt="" title=""/>
                </div>
                </div>
              </a>
            </div>
            <a class="ui--content-box-link" href="/products">
              <div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-center">
                <h5 class="ui--content-box-title-text"><strong>网络电话的内容</strong></h5>
              </div>
            </a>
          </div>
          <div class="ui--content-box-content">
            <div class="ui--content-box-content-text">
              <p><font size="2">网络电话关键就在于它是基于互联网的一种通讯方式，它是现如今一种比较省钱的现代通讯方式，与社交网络一样，被认为是21世纪新兴领域和高速发展领域。相比传统运营商，它主要有以下好处：1、资费便宜、更省钱举个例子吧：你用移动打电话是3毛钱1分钟，用电信是2毛，用联通是1毛，还有各种套餐限制和月租，当然还会有漫游等费用；假如你用网络电话，比如MM网络电话，2分钱1分钟，没有月租，没有漫游，你有哪个更省钱呢？2、覆盖范围更广：     运营商的卡有的是不能打国外的，比如神州行啊、动感地带啊之类的，只有类似于全球通这样的才可以，但是网络电话就可以全世界都能打通？3、使用更便捷：    电脑手机均可以下载，手机打手机、手机打固话、电脑打手机、电脑打固话都支持，而且下载方便、安装快速、操作简单。4、赚钱策略更多：    网络电话不仅充值享有更多优惠，而且有签到、下载运营赚话费、邀请、分享等等多种赚钱方式，说句大白话，实际上你可以免费用网络电话，一分钱不花</font></p>
      <div class="text-center ui--animation"><a class="btn btn-normal btn-block btn-icon-left btn-grey" href="/products" style="">更多</a> </div>
    </div></div></div></div></div>

    <div   class="ui-column span4"><div class="ui--box-widget"><div  class="ui--content-box ui--box ui--content-item ui--animation ui-row"><div class="ui--content-box-header"><div class="ui--content-box-media effect--slide-btt type--image-hover clearfix" style="padding-bottom: 56.25%;"><a class="ui--content-box-link" href="/products"><div class="ui--content-box-image-default"><img  class="ui--content-box-image" src="02.jpg" alt="" title=""/></div><div class="ui--content-box-overlay"><div class="ui--content-box-overlay-image"><img  class="ui--content-box-image" src="02.jpg" alt="" title=""/></div></div></a></div><a class="ui--content-box-link" href="/products"><div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-center"><h5 class="ui--content-box-title-text"><strong>流量充值卡</strong></h5></div></a></div><div class="ui--content-box-content"><div class="ui--content-box-content-text"><p><font size="2">网络时代莫过于没电没网络。可见人们对于网络的需求之大。现如今流量充值卡来了，想想只要花费同等价格的钱就可以使用比营业厅更多的流量是不是更好啊。中水系流量卡即将上市，敬请期待<br><br><br><br><br><br></font></p>
      <div class="text-center ui--animation"><a class="btn btn-normal btn-block btn-icon-left btn-grey" href="/products" style="">更多</a> </div>
    </div></div></div></div></div>

    <div   class="ui-column span4"><div class="ui--box-widget"><div  class="ui--content-box ui--box ui--content-item ui--animation ui-row"><div class="ui--content-box-header"><div class="ui--content-box-media effect--slide-btt type--image-hover clearfix" style="padding-bottom: 56.25%;"><a class="ui--content-box-link" href="/products"><div class="ui--content-box-image-default"><img  class="ui--content-box-image" src="03.jpg" alt="" title=""/></div><div class="ui--content-box-overlay"><div class="ui--content-box-overlay-image"><img  class="ui--content-box-image" src="03.jpg" alt="" title=""/></div></div></a></div><a class="ui--content-box-link" href="/products"><div class="ui--content-box-title ui--gradient ui--gradient-grey on--hover clearfix text-center"><h5 class="ui--content-box-title-text"><strong>APP</strong></h5></div></a></div><div class="ui--content-box-content"><div class="ui--content-box-content-text"><p><font size="2">电话充值卡APP只要下载即可立即体验，使用率高于同行业20%，再也不用担心话费超标啦。中水系流量充值APP尽请期待！<br><br><br><br><br><br><br></font></p>
      <div class="text-center ui--animation"><a class="btn btn-normal btn-block btn-icon-left btn-grey" href="/products" style="">更多</a> </div>
    </div></div></div></div></div>


  </div> </div>
</div>